{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static %}

{% block title %}Feedback{% endblock title %}

{% block extra_css %}
    <style>
        .slug_hide{
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Feedback da página {{page.title}}</h1>
    <label class="slug_hide" for="slug-hide"></label>
    <input class="slug_hide" type="text" value="{{slug}}" id="slug-hide">
    <form id="form" action="{{ form_action }}" method="POST", enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {% if field.label != 'Slug' and field.label != 'Data' %}
                <label for="{{field.id_for_label}}">{{field.label}}</label>
            {% endif %}
            {{field}}
            <p>{{field.help_text}}</p>
            {{field.errors}}
        {% endfor %}

        {% if form.error %}
            Há erro no formulário, por favor verifique eles e tente novamente
        {% endif %}
        
        <br>
        <div class="form-group">
            <button id="button" type="submit">Send</button>
        </div>
    </form>

    {% block extra_js %}
        <script src="{% static "js/app.js" %}"></script>
    {% endblock %}

{% endblock %}