{% extends "wagtailadmin/base.html" %}
{% load static %}
{% block titletag %}Feedbacks{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Feedbacks" icon="comment" %}

    <div class="nice-padding">
        
        <h1>{{f.title}}</h1>
        <h2>{{f.date}}</h2>

        <p>{{f.texto}}</p>

        <a href="http://127.0.0.1:8000/admin/pages/{{id}}/edit/" target="_blank">Editar Página</a>

    </div>
{% endblock %}